/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
}
:root{
    --primary-textcolor:#3FC060;
    --secundary-textcolor:#162328;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
}